<p class="text-center"> Photo Listing:</p>
<div class="container">
<div class="row mt-5  ">
  
    <div class="col-md-4 mt-5" *ngFor = "let product of products">
    <div class="card" style="width: 18rem;">
        <img src="{{product.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.id}}</p>
          <p class="card-text">{{product.thumbnailUrl}}</p>
          <button (click)=addFunction(product) class="btn btn-primary">{{selectedButton[product.id] ? 'Remove' : 'comapre'}}
          </button>
        </div>
      </div>
      
      </div>
      </div>
      <!-----
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">comapre</a>
            </div>
          </div>
          
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">compare</a>
            </div>
          </div>
          
    </div>
  -->
  </div>
  
<br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
<h2 class="text-center">COMAPARISON TABLE</h2>
<table class = "table table-hover">
  
    
    <thead>
       <tr>
          <th>albumId</th>
          <th>id</th>
          <th>title</th>
          <th>url</th>
          <th>thumbnailUrl</th>
       </tr>
    </thead>
    
    <tbody>
       <tr *ngFor = "let product_value of product_value ;let i = index;">
          <td>{{product_value.id}}</td>
          <td>{{product_value.title}}</td>
          <td>{{product_value.url}}</td>
          <td>{{product_value.thumbnailUrl}}</td>
       </tr>
    </tbody>
 </table>